global
  log stdout format raw local0
  daemon
  stats socket /run/haproxy-admin.sock user root group root mode 600 level admin expose-fd listeners
  maxconn 1000
  hard-stop-after 5m

defaults http_defaults
  mode http
  log global
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000
  timeout tunnel 24h
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

userlist dataplaneapi
  user nmagent insecure-password __NMAGENT_AUTH__

frontend data-plane-api-frontend from http_defaults
  mode http
  bind *:__HTTPS_PORT__ name default crt /etc/haproxy/certs/server.pem ssl
  acl is_admin hdr(host) -m sub __HTTPS_HOST__
  option httplog
  use_backend data-plane-api-backend if is_admin

backend data-plane-api-backend from http_defaults
  mode http
  server data-plane-api-target localhost:__HTTP_PORT__ check

backend unknown_service from http_defaults
  mode http
  errorfile 503 /etc/haproxy/errors/503.http
