global
  daemon
  # chroot /var/lib/haproxy
  user haproxy
  group haproxy
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private
  stats socket /run/haproxy-admin.sock mode 660 level admin
  stats timeout 30s
  # Monitor SSL handshake failures specifically
  tune.ssl.capture-buffer-size 96
  ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets
  ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  # Send logs to stdout instead of /dev/log
  log /var/lib/haproxy/dev/log len 65535 format raw local0 info

defaults http-defaults
  mode http
  log global
  option httplog
  log-format "%ci:%cp [%tr] %ft %b/%s %TR/%Tw/%Tc/%Tr/%Ta %ST %B %CC %CS %tsc %ac/%fc/%bc/%sc/%rc %sq/%bq %hr %hs %{+Q}r %[ssl_fc_err]/%[ssl_c_err]"
  option dontlognull
  # Logs every connection, even if no data was sent (crucial for SSL handshake fails)
  option log-separate-errors
  # Ensures we don't ignore connections that close early
  option abortonclose
  option forwardfor
  timeout connect 5000
  timeout client 168h
  timeout server 168h
  timeout tunnel 1h
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

defaults tcp-defaults
  mode tcp
  timeout connect 5000
  timeout client 50000
  timeout server 50000

userlist dataplaneapi
  user admin insecure-password password

frontend http-common from http-defaults
  mode http
  bind *:80
  # Define an ACL for ACME challenges
  acl is_acme path_beg /.well-known/acme-challenge/
  use_backend acme_backend if is_acme

frontend https-common from http-defaults
  mode http
  bind *:443 ssl crt /etc/haproxy/certs/uploads/haproxy/ ssl-min-ver TLSv1.2
  acl is_admin hdr(host) -m sub proxy1.apps.kinesiscloud.com
  use_backend data-plane-api-backend if is_admin

backend acme_backend
  mode http
  # Point to the Go sidecar
  server sidecar /tmp/acme-sidecar.sock check

backend data-plane-api-backend
  mode http
  server data-plane-api-target localhost:5555
