# _md5hash=c3e91450147b3d38b7437769e6367911
# _version=2
# Dataplaneapi managed File
# changing file directly can cause a conflict if dataplaneapi is running

global
  daemon
  maxconn 1000
  stats socket /run/haproxy-admin.sock user root group root mode 600 level admin expose-fd listeners
  log stdout format raw local0

defaults tcp-defaults
  mode tcp
  timeout connect 5000
  timeout client 50000
  timeout server 50000

defaults http-defaults
  mode http
  log global
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000
  timeout tunnel 24h
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http

userlist dataplaneapi
  user admin insecure-password password

frontend data-plane-api-frontend from http-defaults
  mode http
  bind *:55555 name default crt /etc/haproxy/certs/apps.kinesiscloud.com.pem ssl
  acl is_admin hdr(host) -m sub proxy1.apps.kinesiscloud.com
  option httplog
  use_backend data-plane-api-backend if is_admin

frontend http-common
  mode http
  bind *:80 name *:80

frontend https-common
  mode http
  bind *:443 ssl crt /etc/haproxy/certs/apps.kinesiscloud.com.pem ssl-min-ver TLSv1.2 no-sslv3

backend data-plane-api-backend from http-defaults
  mode http
  server data-plane-api-target localhost:5555

